{% extends 'base.html'%}
  <head>
  </head>
  <body>
    {% block content %}
    <title>Your Bujo</title>
    <center>
        {% if Submit != none %}
        <h1> Hello {{Submit}}! Today is going to be a great day!</h1>
        {% else %}
        <h1>Hello! What is your name?</h1>
        <form action='home' method='post'>
          {% csrf_token %}
          {{ form }}
          <input type='submit' value="Submit">
        </form>
        {% endif %}
    </center>
    {% endblock %}
  </body>

