{% extends 'base.html'%}
  <head>
  </head>
  <body>
    {% block content %}
    <title>Key</title>
    <h1><center>Key</center></h1>
    <text><center> &diams; Tasks: Things you have to do</center></text>
    <br>
    <text><center> &hearts; Notes: Things you don't want to forget</center></text>
    <br>
    <text><center> &loz; Events: Noteworthy moments in time</center></text>
    <br>
    <text><center> &empty; Task incomplete</center></text>
    <br>
    <text><center> &Omicron; Task complete</center></text>
    {% endblock %}
  </body>