
<!doctype html>
<html lang="en">
  <br>
  <body style="background-color:powderblue;">
    <title>Profile</title>
    <br>
    <h1><center>Profile</center></h1>
    <text><center>Zach</center></text>
    <br>
    <text><center>19 years old, 2nd Year Comp Sci major, video editor on the side</center></text>
    <br>
    <a href="{% url 'home' %}"><center>Home</center></a>
    <a href="{% url 'profile' %}"><center>Profile</center></a>
    <a href="{% url 'key' %}"><center>Key</center></a>
    <a href="{% url 'thisweek' %}"><center>This Week</center></a>
    <a href="{% url 'today' %}"><center>Today</center></a>
  </body>
</html>