{% extends 'base.html'%}
  <head>
  </head>
  <body>
    {% block content %}
    <title>This Week</title>
    <h1><center>This Week</center></h1>
    <text><center>3.28.2021-4.03.2021</center></text>
    <br>
    <text><center> &loz; Interview 4.02.2021 2pm</center></text>
    <br>
    <text><center> &Omicron; Workout</center></text>
    <br>
    <text><center> &diams; Finish Histo Paper </center></text>
    <br>
    <text><center> &hearts; Buy groceries</center></text>
    <br>
    <text><center> &empty; Do laundry</center></text>
    <br>
    {% endblock %}
  </body>
